{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}LearnHTML - Log In{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
        <div class="alert alert-warning col-sm-8 col-sm-offset-2 margin-top-medium">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
    {% endfor %}
    <div class="login-wrapper col-sm-4 col-sm-offset-4">
        <img src="{{ url_for('static', filename='images/learn_html_logo.svg') }}">
        {{ wtf.quick_form(form)}}
        <p><br>New user? <a href="{{ url_for('auth.register') }}">Click here to register.</a></p>
        <p><a href="{{ url_for('main.index', guest=True) }}">Continue without logging in.</a></p>
    </div>
</div>
{% endblock %}