{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}LearnHTML - Reset your password{% endblock %}

{% block content %}
<div class="container">
    {% block navigation %}
    <nav role="navigation" class="navbar">
        <img class="navbar-brand" src="{{ url_for('static', filename='images/learn_html_logo.svg') }}"></a>
        <ul class="nav nav-tabs"></ul>
    </nav>
    {% endblock %}
    <div class="col-sm-6 col-sm-offset-4">
        <h1>Reset your password</h1>
    </div>
    <div class="col-sm-4 col-sm-offset-4">
        {{ wtf.quick_form(form) }}
    </div>
</div>
{% endblock %}